/* aplicamos colores, tamaños y fuente a los elementos de la página web. */
body {
    font-family: Verdana;
 
}

img {
    width: 400px;
    height: 200px;
}
a{
    color:blue;
    font-size: 12px;
}

h1 {
    color: #000; font-size: 20px;
}
h2 {
    color: #333; font-size: 16px;
}
p, li, td {
    color: #000; font-size: 12px;
}

/* aplicamos  el estilo a las tabla  */
table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    padding: 10px;
}
thead {
    background-color: #666;
    color: white;
    font-size: 12px;
}
tfoot {
    background-color: #ccc;
}
